html, body {
  height: 100%;
  overflow-y: hidden; /* Prevent vertical scrolling */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /*background-color: #FFE6E6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}
canvas {
  border: 1px solid #000;
  cursor: crosshair;
  display: block;
  touch-action: none; /* Prevent scrolling when drawing */
}
/*
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: darkred;
}*/
#buttonContainer {
  display: flex;
  gap: 10px; /* Adjust spacing between buttons */
  margin-top: 10px; /* Optional: space above the buttons */
  z-index: 10;
}
#outputDiv {
  padding: 6px 6px;
  font-size: 24px;
  font-weight: bold;
}
